<div class="first">
  <%= render :partial => 'layouts/big_logo' %>
</div>

<div id="home" class="container fullsize home">
  <h1 class="main-title"></h1>
  <div id="carousels">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <%= image_tag ("Photo1.jpg") %>
        </div>
        <div class="item">
          <%= image_tag ("Photo2.jpg") %>
        </div>
        <div class="item">
          <%= image_tag ("Photo3.jpg") %>
        </div>
      </div>
    </div>
    <div id="myCarousel1" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <%= image_tag ("Photo4.jpg") %>
        </div>
        <div class="item">
          <%= image_tag ("Photo5.jpg") %>
        </div>
        <div class="item">
          <%= image_tag ("Photo6.jpg") %>
        </div>
      </div>
    </div>
    <div id="myCarousel2" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <%= image_tag ("Photo7.jpg") %>
        </div>
        <div class="item">
          <%= image_tag ("Photo8.jpg") %>
        </div>
        <div class="item">
          <%= image_tag ("Photo9.jpg") %>
        </div>
      </div>
    </div>
  </div>
  <div class="jumbotron">
    <h1>We're getting married!</h1>
    <p>
      Hello &amp; welcome to our wedding site.
      After seven years together, we are extremely excited to be planning our
      wedding. We have some wonderful friends and family, and hope that you will
      be able to join us. If you haven't already, please try to RSVP as soon as
      you can as this will help us with our planning.
    </p>
  </div>
</div>

<div id="proposal" class="fullsize main-section">
  <h1 class="main-title">~The Proposal~</h1>
  <div class="proposal-images">
    <%= image_tag ("Photo10.jpg"),class:"young-img" %>
    <div class="" style="display:inline-block;">
      <i class="fa fa-heart"></i>
    </div>
    <%= image_tag ("Photo11.jpg"),class:"young-img" %>
  </div>
  <div class="jumbotron">
    <h1>Lewis</h1>
    <p>
      Lewis proposed to Gemma in Cape Town on Signal Hill. This is otherwise
      known as the 'Lion's Rump'. Take a look at the picture below and you'll
      see what we mean. It is quite apt considering they are both Leos.
    <p>
      Lewis chose Cape Town because in the city. Her parents also live there.
      Lewis woke Gemma up on the day having told her to expect a day trip
      surprise. The first stop on the magical mystery tour was the top of
      Signal Hill for amazing views and Paraglider spotting. Having had our fill
      we started to drive down Signal Hill, only for Lewis to pull over on the
      side of the mountain so we could (apparently) look at more views of the
      city. After getting out the car (and following a quick warning from Gemma
      not to fall off the cliff) and with her favourite place in the world as a
      backdrop, Lewis asked Gemma to marry him (then pulled out the ring, got
      down on one knee, and asked again). Cue lots of nervous laughing from
      Gemma and a huge YES (and kiss) followed by a cheeky photo of Lewis down
      on one knee (got to capture the moment).
    </p>
    <div class="center">
      <p>
        Lew proposed here!<br>
        <i class="fa fa-long-arrow-down"></i>
      </p>
      <%= image_tag ("lewismet.png"), class:"where-met" %>
    </div>
  </div>
</div>

<div id="rsvp" class="fullsize main-section">
  <h1 class="main-title">~RSVP~</h1>
  <p>
    Please RSVP as soon as possible to:
    <a href="mailto:gemmaandlewis@outlook.com">gemmaandlewis@outlook.com</a>
  </p>
  <p>
    Let us know:
  </p>
  <ul>
    <li>Any dietary requirements you have</li>
    <li>Whether you favour red or white wine (or don&rsquo;t really care).</li>
    <li>If you expect NOT to be drinking any alcohol.</li>
  </ul>
</div>

<div id="gifts" class="fullsize main-section">
  <h1 class="main-title">~Gift List~</h1>
  <p>
    We are just happy you are going to be coming to celebrate our marriage with
    us, but if you would like to get us a gift we have put together a list of
    ideas below. We have also opened a John Lewis giftlist for those who prefer
    something more tangible.
  </p>
  <div class="box">
    <h3>Honeymoon Donation</h3>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <input type="hidden" name="notify_url" value="<%= paypal_payments_url %>">
      <input type="hidden" name="cmd" value="_donations">
      <input type="hidden" name="business" value="djbase666@yahoo.com">
      <input type="hidden" name="item_name" value="Lewis and Gemma Honeymoon Donation">
      <input type="hidden" name="lc" value="US">
      <input type="hidden" name="no_note" value="0">
      <input type="hidden" name="currency_code" value="GBP">
      <input type="hidden" name="bn" value="PP-DonationsBF:btn_donateCC_LG.gif:NonHostedGuest">
      <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
      <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
  </div>
  <div class="box">
    <h3>Gifts</h3>
    <table id="gifts_list">
      <% @gifts.each do |gift| %>
        <tr>
          <td class="name"><%= gift.name %></td>
          <td class="amount">
            <%= number_to_currency gift.amount, unit: "£" %>
          </td>
          <td class="buy">
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
              <input type="hidden" name="notify_url" value="<%= paypal_payments_url %>">
              <input type="hidden" name="cmd" value="_donations">
              <input type="hidden" name="business" value="djbase666@yahoo.com">
              <input type="hidden" name="lc" value="US">
              <input type="hidden" name="amount" value="<%= gift.amount %>">
              <input type="hidden" name="item_name" value="<%= gift.name %>">
              <input type="hidden" name="item_number" value="<%= gift.id %>">
              <input type="hidden" name="currency_code" value="GBP">
              <input type="hidden" name="no_note" value="0">
              <input type="hidden" name="bn" value="PP-DonationsBF:btn_donate_SM.gif:NonHostedGuest">
              <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
              <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<div id="songs" class="fullsize main-section">
  <h1 class="main-title">~Song Requests~</h1>
  <div id="song_request_thanks" style="display:none">
    <h3>
      Thanks <span id="song_request_thanks_name"></span>...
      <span id="song_request_thanks_song">your song</span> is on the list!
    </h3>
    <p>
      You can request as many songs as you like...
    </p>
  </div>
  <%= form_for @song_request, remote:true do |f| %>
    <div class="field">
      <%= f.label :name, "Your Name" %>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :song_name, "Song Title" %>
      <%= f.text_area :song_name %>
    </div>
    <div class="field">
      <%= f.label :content, "Anything else?" %>
      <%= f.text_area :content %>
    </div>
    <div>
      <%= f.submit "Send Song Request", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

<div id="gallery" class="fullsize main-section">
  <h1 class="main-title">~Photo Gallery~</h1>
  <p>
    Coming soon!
  </p>
</div>
