<div id="first">
  <%= render :partial => 'layouts/big_logo' %>
</div>

<div id="home" class="container fullsize home">
  <h1 class="main-title"></h1>
  <div id="carousels">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <%= image_tag ("Photo1.jpg") %>
        </div>
        <div class="item">
          <%= image_tag ("Photo2.jpg") %>
        </div>
        <div class="item">
          <%= image_tag ("Photo3.jpg") %>
        </div>
      </div>
    </div>
    <div id="myCarousel1" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <%= image_tag ("Photo4.jpg") %>
        </div>
        <div class="item">
          <%= image_tag ("Photo5.jpg") %>
        </div>
        <div class="item">
          <%= image_tag ("Photo6.jpg") %>
        </div>
      </div>
    </div>
    <div id="myCarousel2" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <%= image_tag ("Photo7.jpg") %>
        </div>
        <div class="item">
          <%= image_tag ("Photo8.jpg") %>
        </div>
        <div class="item">
          <%= image_tag ("Photo9.jpg") %>
        </div>
      </div>
    </div>
  </div>
  <div class="jumbotron">
    <h1>We're getting married!</h1>
    <p>
      Hello &amp; welcome to our wedding site.
      After seven years together, we are extremely excited to be planning our
      wedding. We have some wonderful friends and family, and hope that you will
      be able to join us. If you haven't already, please try to RSVP as soon as
      you can as this will help us with our planning.
    </p>
  </div>
</div>



<div id="rsvp" class="fullsize main-section">
  <h1 class="main-title">~RSVP~</h1>
  <p>
    Please RSVP as soon as possible to:
    <a href="mailto:gemmaandlewis@outlook.com">gemmaandlewis@outlook.com</a>
  </p>
  <p>
    Let us know:
  </p>
  <ul>
    <li>Any dietary requirements you have</li>
    <li>Whether you favour red or white wine (or don&rsquo;t really care).</li>
    <li>If you expect NOT to be drinking any alcohol.</li>
  </ul>
</div>

<div id="gifts" class="fullsize main-section">
  <h1 class="main-title">~Gift List~</h1>
  <p>
    We are happy just to be able to celebrate our marriage with you but if you
    would like to give us a wedding present we would really appreciate donations
    towards our dream honeymoon. If you do make a donation, please include your
    name in the comments box to make sure we can thank you.
  </p>
  <p>
    We have also opened a John Lewis gift list in case you would prefer
    something more tangible. Details of the gift list will be on this page from
    the 1st March as this is the earliest that John Lewis will let us open it.
  </p>
  <div class="box">
    <h3>Honeymoon Donation</h3>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <input type="hidden" name="notify_url" value="<%= paypal_payments_url %>">
      <input type="hidden" name="cmd" value="_donations">
      <input type="hidden" name="business" value="djbase666@yahoo.com">
      <input type="hidden" name="item_name" value="Lewis and Gemma Honeymoon Donation">
      <input type="hidden" name="lc" value="US">
      <input type="hidden" name="no_note" value="0">
      <input type="hidden" name="currency_code" value="GBP">
      <input type="hidden" name="bn" value="PP-DonationsBF:btn_donateCC_LG.gif:NonHostedGuest">
      <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
      <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
  </div>
</div>

<div id="songs" class="fullsize main-section">
  <h1 class="main-title">~Song Requests~</h1>
  <p class="center">
    We hope that everyone hears at least one record they love on the day.
  </p>

  <p>
    Please complete the form below to give us your top three.
  </p>

  <div id="song_request_thanks" style="display:none">
    <h3>
      Thanks <span id="song_request_thanks_name"></span>.
    </h3>
    <p>
      You can request as many songs as you like...
    </p>
  </div>
  <%= form_for @song_request, remote:true do |f| %>
    <div class="field">
      <%= f.label :name, "Your Name" %>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :song_name, "Your favourite songs" %>
      <%= f.text_area :song_name %>
    </div>
    <div class="field">
      <%= f.label :content, "Anything else?" %>
      <%= f.text_area :content %>
    </div>
    <div>
      <%= f.submit "Send to the DJ", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

<div id="gallery" class="fullsize main-section">
  <h1 class="main-title">~Photo Gallery~</h1>
  <p>
    Photos from our wedding celebrations will follow the day itself.
  </p>
  <p>
    On the day we intend to have a projector hooked up. You will be able to
    send us your pics &amp; they will come up on the big screen.
  <p>
    In the meantime, why not have a practice?
    <a href="mailto:gemmaandlewis@outlook.com">Send us a pic</a> with a little
    message and watch it appear on this page.
  </p>
</div>
