<%= render :partial => 'layouts/big_logo' %>


<div id="home" class="container fullsize home">
  <h1 class="main-title">~Home~</h1>
  <div id="carousels">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <div class="item active">
            <%= image_tag ("Photo1.jpg"),class:"" %>
         </div>
         <div class="item">
           <%= image_tag ("Photo2.jpg"),class:"" %>
         </div>
         <div class="item">
           <%= image_tag ("Photo3.jpg"),class:"" %>
         </div>
       </div>
     </div>
     <div id="myCarousel1" class="carousel slide" data-ride="carousel">
       <div class="carousel-inner" role="listbox">
         <div class="item active">
             <%= image_tag ("Photo4.jpg"),class:"" %>
          </div>
          <div class="item">
            <%= image_tag ("Photo5.jpg"),class:"" %>
          </div>
          <div class="item">
            <%= image_tag ("Photo6.jpg"),class:"" %>
          </div>
        </div>
      </div>
      <div id="myCarousel2" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <div class="item active">
              <%= image_tag ("Photo7.jpg"),class:"" %>
           </div>
           <div class="item">
             <%= image_tag ("Photo8.jpg"),class:"" %>
           </div>
           <div class="item">
             <%= image_tag ("Photo9.jpg"),class:"" %>
           </div>
         </div>
       </div>
  </div>

  <div class="jumbotron">
    <h1>We're getting married!</h1>
    <p>Hello & welcome to our wedding site.
    After seven years together, we are extremely excited to be planning our wedding. We have some wonderful friends and family, and hope that you will be able to join us.
    If you haven't already, please try to RSVP as soon as you can as this will help us with our planning.</p>
  </div>
</div>


<div id="proposal" class="fullsize">
  <%= render :partial => 'layouts/big_logo' %>
  <h1 class="main-title">~The Proposal~</h1>
  <div class="proposal-images">
    <%= image_tag ("Photo10.jpg"),class:"young-img" %>
    <div class="" style="display:inline-block;">
      <i class="fa fa-heart"></i>
    </div>
    <%= image_tag ("Photo11.jpg"),class:"young-img" %>
  </div>
  <div class="jumbotron">
    <h1>Lewis</h1>
    <p>Lewis proposed to Gemma in Cape Town on Signal Hill. This is otherwise known as the 'Lion's Rump'. Take a look at the picture below and you'll see what we mean. It is quite apt considering they are both Leos. </p>
    <p>
      Lewis chose Cape Town because in the city.  Her parents also live there. Lewis woke Gemma up on the day having told her to expect a day trip surprise. The first stop on the magical mystery tour was the top of Signal Hill for amazing views and Paraglider spotting. Having had our fill we started to drive down Signal Hill, only for Lewis to pull over on the side of the mountain so we could (apparently) look at more views of the city. After getting out the car (and following a quick warning from Gemma not to fall off the cliff) and with her favourite place in the world as a backdrop, Lewis asked Gemma to marry him (then pulled out the ring, got down on one knee, and asked again). Cue lots of nervous laughing from Gemma and a huge YES (and kiss) followed by a cheeky photo of Lewis down on one knee (got to capture the moment).
    </p>
    <p>
      Lew proposed here!<br>
      <i class="fa fa-long-arrow-down"></i>
    </p>
    <%= image_tag ("lewismet.png") %>
  </div>

</div>

<div id="rsvp" class="fullsize">
  <%= render :partial => 'layouts/big_logo' %>
  <h1 class="main-title">~RSVP~</h1>
</div>

<div id="gifts" class="fullsize">
  <%= render :partial => 'layouts/big_logo' %>

  <h1 class="main-title">~Gifts~</h1>
</div>

<div id="insta" class="fullsize">
  <%= render :partial => 'layouts/big_logo' %>

  <h1 class="main-title">~Instagram~</h1>
</div>
<div id="gallery" class="fullsize">
  <%= render :partial => 'layouts/big_logo' %>

  <h1 class="main-title">~Gallery~</h1>
</div>
