<div id="first">
  <%= render :partial => 'layouts/big_logo' %>
</div>

<div id="home" class="container fullsize home">
  <h1 class="main-title">~Home~</h1>
  <div id="carousels">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <%= image_tag ("Photo1.jpg") %>
        </div>
        <div class="item">
          <%= image_tag ("Photo2.jpg") %>
        </div>
        <div class="item">
          <%= image_tag ("Photo3.jpg") %>
        </div>
      </div>
    </div>
    <div id="myCarousel1" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <%= image_tag ("Photo4.jpg") %>
        </div>
        <div class="item">
          <%= image_tag ("Photo5.jpg") %>
        </div>
        <div class="item">
          <%= image_tag ("Photo6.jpg") %>
        </div>
      </div>
    </div>
    <div id="myCarousel2" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <%= image_tag ("Photo7.jpg") %>
        </div>
        <div class="item">
          <%= image_tag ("Photo8.jpg") %>
        </div>
        <div class="item">
          <%= image_tag ("Photo9.jpg") %>
        </div>
      </div>
    </div>
  </div>
  <div class="jumbotron">
    <h1>We're getting married!</h1>
    <div class="text-div">
      <p>
        Hello &amp; welcome to our wedding site.
        After seven years together, we are extremely excited to be planning our
        wedding. We have some wonderful friends and family, and hope that you will
        be able to join us. If you haven't already, please try to RSVP as soon as
        you can as this will help us with our planning.
      </p>
    </div>
  </div>
</div>
