<div id="songs" class="fullsize main-section">
  <h1 class="main-title">~Song Requests~</h1>
  <p class="center">
    We hope that everyone hears at least one record they love on the day.
  </p>

  <p>
    Please complete the form below to give us your top three.
  </p>

  <div id="song_request_thanks" style="display:none">
    <h3>
      Thanks <span id="song_request_thanks_name"></span>.
    </h3>
    <p>
      You can request as many songs as you like...
    </p>
  </div>
  <%= form_for @song_request, remote:true do |f| %>
    <div class="field">
      <%= f.label :name, "Your Name" %>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :song_name, "Your favourite songs" %>
      <%= f.text_area :song_name %>
    </div>
    <div class="field">
      <%= f.label :content, "Anything else?" %>
      <%= f.text_area :content %>
    </div>
    <div>
      <%= f.submit "Send to the DJ", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
