<!DOCTYPE html>
<html>
<head>
  <title>Wedding</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body data-spy="scroll" data-target="#navbarLinks">
  <%= render :partial => 'layouts/header' %>

<%= yield %>

</body>
</html>
<script charset="utf-8">
$('#myCarousel').carousel({

  interval: 40000

});

</script>
